// *****Color*****
$red-color : rgba(255, 96, 96, 1);
$white-color : rgba(255, 255, 255, 1);

// ***background***
$grey-background : rgba(246, 246, 246, 1);
$dark-grey-background : rgba(196, 196, 196, 1);
$medium-grey-background : rgba(136, 125, 125, 0.3);
$black-background : rgba(0, 0, 0, 1);
$light-black-background :  rgb(0, 0, 0, 0.3);
$red-background : rgba(255, 96, 96, 1);
$white-background: rgba(255, 255, 255, 1);

// ***font-size***

$bigger-font-size : 48px;
$big-font-size : 36px;
$medium-font-size : 24px;
$small-font-size : 18px;
$smaller-font-size : 14px;

// ***font-weight***

$global-font-weight : 500;

// ***Radius***

$big-border-radius:25px;
$medium-border-radius:10px;
$small-border-radius:5px;





