.title{
    color: rgba(255, 96, 96, 1);
    margin-bottom: 20px;

    &__main{
        font-size: 36px;
        line-height: 51.34px;

    }
    &__text{
        font-size: 18px;
        line-height: 25.67px;
    }
    
}