@import '../Variables.scss';


.title{
    color:$red-color;
    margin-bottom: 20px;

    &__main{
        font-size: $big-font-size;
        line-height: 51.34px;
        @media (max-width : 767px) {
            font-size: 18px;
        }

    }
    &__text{
        font-size: $small-font-size;
        line-height: 25.67px;
        @media (max-width : 767px) {
            font-size: 14px;
        }
    }
    
}