.product__container__collapse{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 76px;
    @media (max-width: 767px){
        display: grid;
        grid-template-columns: 1fr;
        row-gap:20px ;
    }  
}
.product__container{
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin-top: 27px;
        margin-bottom: 27px;
    }
}