.about__collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
//    margin: 38px  208.5px 36px 208.5px;
   @media  (max-width: 900px){
    margin: 38px 100px 36px 100px;

   
    
   }
}