.product__container__collapse{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 76px;
    @media (max-width: 900px){
        display: grid;
        grid-template-columns: 1fr;
        row-gap:20px ;

    }
    
}
