.cards{
    border-radius : 10px;
    color:white;
    background: linear-gradient(180deg, rgb(250, 111, 111) 0%, rgba(118, 68, 68, 0.891) 100%);
    padding : 10px;  
    max-width: 340px;
    width: 100%;
    min-height: 340px;
}