@import '../Variables.scss';

.banner {
    position: relative;
    // margin: 50px 100px 0 100px;
    margin-top: 50px;
    max-width: 1240px;
    border-radius:$big-border-radius;
    max-height: 223px;
    height: 100%;
    overflow: hidden;
    @media (max-width : 900px){

    }
    &::before {
        position: absolute;
        content: "";
        inset:0;
        border-radius: $big-border-radius;
        background-color:$light-black-background;
    }
    &__image{
        border-radius: $big-border-radius;
        width: 100%;
        height: 100%;
        max-width: 1240px;
        max-height: 223px;
        object-fit: cover;
        object-position: center;
    }
    &__title  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 68.45px;
        font-size: $bigger-font-size;
        font-weight: 700;
        max-width:705px;
        width: 100%;
        color: $white-color;
    }
}