// @mixin banner-shadow
.banner {
    position: relative;
    // margin: 0 100px;
    margin: 50px auto;
    max-width: 1240px;
    border-radius: 1.5rem;
    background-image: url('imagetitle.png');
    background-size: cover;
    background-position: center;
    min-height: 223px;
    &::before {
        position: absolute;
        content: "";
        inset:0;
        border-radius: 1.5rem;
        background-color: rgb(0, 0, 0, 0.3);
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 68.45px;
        font-size: 48px;
        max-width:705px;
        width: 100%;
        color: #ffffff;
    }
}