.bannertwo {
    position: relative;
    margin: 50px auto;
    max-width: 1240px;
    border-radius: 1.5rem;
    background-image: url('imagetitletwo.png');
    background-size: cover;
    background-position: center;
    min-height: 223px;
    &::before {
        position: absolute;
        content: "";
        inset:0;
        border-radius: 1.5rem;
        background-color: rgb(0, 0, 0, 0.3);
    }
 
}