.block{
    margin-bottom: 30px;
    width: 100%;
    &__red{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 96, 96, 1) ;
        border-radius: 5px;
        padding:10px 20px 10px 15px;

    }
    &__red-title{
        font-size: 24px;
        color: rgba(255, 255, 255, 1);
    }
    &__gray{
        color:rgba(255, 96, 96, 1);
        background-color: rgba(246, 246, 246, 1);
       
        font-size: 18px;
        line-height: 25.67px;
        padding: 20px;
        z-index: -1;
        border-radius: 5px;
        position: relative;
        bottom: 5px;
    }
   
      
}