
.footer{
    color: white;
    margin-top: 50px;
    min-height: 209px;
    background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
}
.logo-footer img{
    margin: 28.56px 63.9px;
}