@import '../Variables.scss';



.container__gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 60px;
    row-gap: 50px;
    // margin: 43px 100px;
    margin-top: 43px;
    padding: 56px 50px 43px 50px;
    background-color:$grey-background;
    border-radius:$big-border-radius ;
    @media (max-width : 1240px) {
        grid-template-columns: repeat(2,1fr);

    }
    @media(max-width : 900px){
        grid-template-columns: repeat(1,1fr);
        row-gap:0;
        background-color: $white-background;

        padding: 0;
        width: 100%;
       
    
    }

}
