
.container{
    margin: 43px 100px 0 100px;
    border: 1px solid red;
    background-color: #F6F6F6;
    
    border-radius:1.5rem ;
    display: flex;
    flex-wrap:wrap ;
    gap: 60px;
    justify-content: space-evenly;
  
    padding: 50px;  

}
