
.container__gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 60px;
    row-gap: 50px;
    margin: 43px 100px;
    padding: 56px 50px 43px 50px;
    background-color: rgba(246, 246, 246, 1);
    border-radius:1.5rem ;
}
