.navbar{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 45px 100px 50px 100px;
    
    .logo-kasa{
        margin-right: auto;
    }
    a{
        color: #FF6060;
    }
    .apropos{
        text-decoration: none;
    }

}