@import '../Variables.scss';



.container__gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 60px;
    row-gap: 50px;
    margin: 43px 0 50px 0;
    padding: 56px 50px 43px 50px;
    background-color:$grey-background;
    border-radius:$big-border-radius ;
    @media (max-width : 1240px) {
        grid-template-columns: repeat(2,1fr);
    }
   
    @media (max-width : 767px) {
       margin: 22px 0 27px 0;
       grid-template-columns: repeat(1,1fr);
       row-gap:20px;
       background-color: $white-background;
       padding: 0;
       width: 100%;
    }

}
